## SQL

### Задача 1

пройти по ссылке https://www.postgresqltutorial.com/postgresql-sample-database/
скачать тестовую базу данных проката.

Установить pgadmin4 и загрузить базу данных

### Задача 2

Написать 10 исследовательских запросов таким образом, чтобы проанализировать клиентов, фильмы, заказы.

Исследуйте клиентов и их заказы, а также постарайтесь найти клиентов, которые сделали больше всего заказов. клиентов, которые оставили больше всего денег в прокате, самый популярный фильм на основе заказов.

Сделайте вывод.

Сделайте скриншоты результатов запросов, поместите в папку в облаке и приложите ссылку с доступом.

https://drive.google.com/drive/folders/16BuTRrLWVBvx00YDkbxymwm6P6sidz1w?usp=sharing

![image.png]()

### Задача 3

сохраните результат любого запроса, сделанного выше в формате csv и загрузите в ноутбук с использованием библиотеки pandas (после того как будет пройден соответствующий материал)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("SQL Queries/Customers_money.csv")
df

              Клиент   Сумма
0       Eleanor Hunt  211.55
1          Karl Seal  208.58
2      Marion Snyder  194.61
3     Rhonda Kennedy  191.62
4         Clara Shaw  189.60
..               ...     ...
594   Tiffany Jordan   49.88
595   Anthony Schwab   47.85
596  Caroline Bowman   37.87
597     Leona Obrien   32.90
598      Brian Wyman   27.93

[599 rows x 2 columns]

## 1.Введение в Python

### Задача 1

Считайте с входящей строки два целых числа и выведите их произведение. Если произведение больше 1000, то дополнительно выведите сумму чисел.

In [ ]:
a = int(input())
b = int(input())
print(a * b)
if (a * b) > 1000:
    print(a + b)

 45
 45

2025
90

### Задача 2

Дан ряд целых чисел от 5 до 12 включительно. Используя цикл for выведите на экран сумму двух последовательно идущих чисел.


**Пример**:

Для ряда от 2 до 6 включительно выдача выглядит так:

5

7

9

11

In [ ]:
import numpy as np

a = np.arange(5,13)
for i in range(len(a)-1):
    print(a[i] + a[i+1])

11
13
15
17
19
21
23

### Задача 3

Для ряда целых чисел от 10 до 20 включительно выведите на экран только те, что делятся на 2 без остатка.

In [ ]:
a = np.arange(10,21)
for i in a:
    if i % 2 == 0:
        print(i)

a[a % 2 == 0]

10
12
14
16
18
20

array([10, 12, 14, 16, 18, 20])

### Задача 4

Считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя кострукцию if...else выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

In [ ]:
N = int(input())
if N % 2 == 1:
    print("N нечетное")
elif N < 5:
    print("N четное и N < 5")
elif N > 10:
    print("N четное и N > 10")
else:
    print("N четное и принадлежит интервалу [5, 10]")

 45

N нечетное

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 2 до 7 включительно.

In [ ]:
x = 2
s = 0
while x <=7:
    s += x
    x += 1
print(s)

27

## 2.Структуры данных

#### Задача 1

Используя цикл for, найдите сумму всех элементов заданного списка. (Без использования встроенных функций sum и т.д.)

In [ ]:
my_list = [40, 32, 45, 22, 69, 3, 59, 150, 34, 0, 2, 5, 1, 38, 65, 39, 94]

s = 0
for i in my_list:
    s += i
s

698

Проверка:

In [ ]:
sum(my_list)

698

#### Задача 2

Напишите функцию, которая принимает на вход список из предыдущего задания и возвращает сумму всех элементов списка. (Без использования встроенных функций sum и т.д.)

In [ ]:
def sum_list(L):
    s = 0
    for i in L:
        s += float(i)
    return s

sum_list(my_list)

698.0

#### Задача 3

Используя цикл (любой) найдите значение максимального элемента списка из предыдущего задания. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые).

P.S.: не стесняйтесь гуглить :)

P.S.2: гуглить нужно фразу "алгоритм поиска максимального элемента массива"

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7

In [ ]:
my_list = [40, 32, 45, 22, 69, 3, 59, 150, 34, 0, 2, 5, 1, 38, 65, 39, 94]

maxim = my_list[0]
for i in my_list:
    if i > maxim:
        maxim = i
maxim

150

Проверка:

In [ ]:
max(my_list)

150

#### Задача 4

Напишите функцию, которая принимает на вход список из предыдущего задания и возвращает его максимальный элемент. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые). Т.е. заверните решение предыдущего задания в функцию.

In [ ]:
def max_list(L):
    maxim = L[0]
    for i in L:
        if i > maxim:
            maxim = i
    return maxim

max_list(my_list)

150

#### Задача 5

Используя список из предыдущего задания (my_list) создайте кортеж и назовите его my_tuple. Найдите индекс элемента, который равен 5.

P.S. Используйте один из встроенных методов для кортежей

In [ ]:
my_list = [40, 32, 45, 22, 69, 3, 59, 150, 34, 0, 2, 5, 1, 38, 65, 39, 94]

my_tuple = tuple(my_list)
my_tuple.index(5)

11

**Задача 6**

Создайте словарь, соответствующий следующему описанию:
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

P.S. все совпадения случайны :)

In [ ]:
candies_dict = {"Наташа": 2, "Алина": 3, "Марат": 15, "Лев": 1, "Валера": 0}
candies_dict

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0}

**Задача 7**

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. используйте встроенный метод .update

In [ ]:
candies_dict["Рома"] = 4
candies_dict

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0, 'Рома': 4}

**Задача 8**

Двое друзей решили отправиться в путешествия. Дима посетил следующие страны: Украина, Египет, США, Германия, Дания. Алина же побывала на Украине, в Египте, Испании, Тунисе, Германии, Швейцарии.

Создайте два множества (set), соответствующие странам, которые посетили Дима и Алина.

Найдите:
* только те страны, в которых побывали и Дима, и Алина (пересечение)
* все страны, которые посетили друзья (объединение)
* страны, в которых Алина побывала, а Дима еще нет

In [ ]:
dima_set = {'Украина', 'Египет', 'США', 'Германия', 'Дания'}
alina_set = {'Украина', 'Египет', 'Испания', 'Тунис', 'Германия', 'Швейцария'}

print("Только те страны, в которых побывали и Дима, и Алина (пересечение):")
dima_intersect_alina = dima_set.intersection(alina_set)
print(dima_intersect_alina)

print("Все страны, которые посетили друзья (объединение):")
dima_union_alina = dima_set.union(alina_set)
print(dima_union_alina)

print("страны, в которых Алина побывала, а Дима еще нет:")
alina_diff_dima = alina_set.difference(dima_set)
print(alina_diff_dima)

Только те страны, в которых побывали и Дима, и Алина (пересечение):
{'Украина', 'Египет', 'Германия'}
Все страны, которые посетили друзья (объединение):
{'Египет', 'Тунис', 'Украина', 'Швейцария', 'Дания', 'Германия', 'США', 'Испания'}
страны, в которых Алина побывала, а Дима еще нет:
{'Швейцария', 'Тунис', 'Испания'}

**Задача 9**

Запустите две ячейки с кодом ниже и убедитесь, что вы понимаете разницу в выполнении кода:

In [ ]:
my_array = [1, 3, "Котики", 4]

for element in my_array:
    print(element / 2)

print("Я следующий кусок кода, который НЕ отработал!")

0.5
1.5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
my_array = [1, 3, "Котики", 4]

try:
    for element in my_array:
        print(element / 2)
except:
    print("Не могу поделить, элемент не численного типа!")

print("\n")
print("Я следующий кусок кода, который отработал!")

**Задача 10**

Используя lambda функцию напишите функцию, которая возводит числа в квадрат. Используя написанную функцию, найдите квадрат числа 12.

In [ ]:
def kvadrat():
    return lambda x: x**2

y = kvadrat()
print(y(11))

## 3.Модули и классы

### Задача 1

Создайте класс **окружность** с атрибутом **радиус**. В классе должны быть следующие методы:
* расчет диаметра
* расчет длины окружности
* расчет площади

Продемонстрируйте правильность работы кода

In [ ]:
class circle:
    def __init__(self, radius):
        self.radius = radius

    def diameter(self):
        return self.radius * 2

    def length(self):
        return 2 * np.pi * self.radius

    def area(self):
        return np.pi * self.radius **2

In [ ]:
circle1 = circle(10)

In [ ]:
print(circle1.diameter())
print(circle1.length())
print(circle1.area())

20
62.83185307179586
314.1592653589793

### Задача 2

Создайте класс **прямоугольник** с атрибутами **длина** и **ширина**. В классе должны быть следующие методы:
* расчет площади прямоугольника
* расчет диагонали прямоугольника
* расчет радиуса описанной вокруг прямоугольника окружности
* расчет площади описанной окружности
* расчет площади вписанной окружности
* расчет длины окружности вписанной окружности
* расчет длины окружности описанной окружности

In [ ]:
class rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    #расчет площади прямоугольника
    def area(self):
        return self.length * self.width

    #расчет диагонали прямоугольника
    def diagonal(self):
        return (self.length**2 + self.width**2)**0.5

    #расчет радиуса описанной вокруг прямоугольника окружности
    def radius_circumscribed(self):
        return self.diagonal() / 2

    #расчет радиуса вписанной в прямоугольник окружности
    def radius_inscribed(self):
        if self.length > self.width:
            return self.width / 2
        else:
            return self.length / 2

    #расчет площади описанной окружности
    def area_circumscribed(self):
        return np.pi * self.radius_circumscribed()**2

    #расчет площади вписанной окружности
    def area_inscribed(self):
        return np.pi * self.radius_inscribed()**2

    #расчет длины окружности вписанной окружности
    def legth_circumscribed(self):
        return 2 * np.pi * self.radius_circumscribed()
    #расчет длины окружности описанной окружности
    def legth_inscribed(self):
        return 2 * np.pi * self.radius_inscribed()

In [ ]:
rec = rectangle(1.414213562373095, 1.414213562373095)
#расчет площади прямоугольника
print(rec.area())
#расчет диагонали прямоугольника
print(rec.diagonal())
#расчет радиуса описанной вокруг прямоугольника окружности
print(rec.radius_circumscribed())
#расчет радиуса вписанной в прямоугольник окружности
print(rec.radius_inscribed())
#расчет площади описанной окружности
print(rec.area_circumscribed())
    #расчет площади вписанной окружности
print(rec.area_inscribed())
    #расчет длины окружности вписанной окружности
print(rec.legth_circumscribed())
    #расчет длины окружности описанной окружности
print(rec.legth_inscribed())

1.9999999999999996
1.9999999999999998
0.9999999999999999
0.7071067811865475
3.1415926535897922
1.5707963267948961
6.283185307179585
4.442882938158366

4

In [ ]:
rec = rectangle(4, 4)
#расчет площади прямоугольника
print(rec.area())
#расчет диагонали прямоугольника
print(rec.diagonal())
#расчет радиуса описанной вокруг прямоугольника окружности
print(rec.radius_circumscribed())
#расчет радиуса вписанной в прямоугольник окружности
print(rec.radius_inscribed())
#расчет площади описанной окружности
print(rec.area_circumscribed())
    #расчет площади вписанной окружности
print(rec.area_inscribed())
    #расчет длины окружности вписанной окружности
print(rec.legth_circumscribed())
    #расчет длины окружности описанной окружности
print(rec.legth_inscribed())

16
5.656854249492381
2.8284271247461903
2.0
25.132741228718352
12.566370614359172
17.771531752633464
12.566370614359172

## 4.Numpy

#### Задача 1

Подгрузите файл **train_vector.csv** с помощью функции **np.loadtxt**. Назовите подгруженный массив my_array. Убедитесь, что подгруженный массив имеет тип np.ndarray

In [ ]:
my_array = np.loadtxt("files_1/train_vector.csv", dtype = 'float', usecols=(10), delimiter=',', skiprows = 1)
type(my_array)

numpy.ndarray

In [ ]:
!ls

"ls" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

#### Задача 2

Возьмите функцию из предыдущих домашних заданий, которая считает сумму всех элементов массива. Примените ее к my_array.

In [ ]:
sum_list(my_array)

28693.949299999967

#### Задача 3

Напишите функцию, которая считает среднее значение всех элементов массива. Примените ее к подгруженному массиву my_array.

In [ ]:
def mean_list(L):
    s = sum_list(L)
    return s / len(L)

mean_list(my_array)

32.2042079685746

#### Задача 4

Напишите функцию, которая ищет минимальный элемент массива. Примените ее к подгруженному массиву my_array

In [ ]:
def min_list(L):
    minim = 100
    for i in L:
        if i < minim:
            minim = i
    return minim

min_list(my_array)

0.0

#### Задача 5

Сравните производительность по времени с встроенными функциями:

(В качестве переменной используйте подгруженный ранее массив my_array)
    
* np.sum
* np.mean
* np.min

P.S. используйте %%timeit

In [ ]:
%%timeit
sum_list(my_array)

151 µs ± 1.36 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
np.sum(my_array)

3.68 µs ± 6.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%%timeit
mean_list(my_array)

152 µs ± 899 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
np.mean(my_array)

5.84 µs ± 43.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%%timeit
min_list(my_array)

86.3 µs ± 1.89 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
np.min(my_array)

3.77 µs ± 71.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

#### Задача 6
Преобразуйте исходный массив my_array в список (list). Назовите его my_list. Сравните производительность написанных вами функций в зависимости от типа данных (my_list и my_array). Сделайте вывод

In [ ]:
my_list = my_array.tolist()

In [ ]:
%%timeit
sum_list(my_list)

In [ ]:
%%timeit
sum_list(my_array)

Вывод: написанные функции работают быстрее с типом данных list, чем с nd.array

#### Задача 7

Сравните производительность написанных вами функций с встроенными функциями на массиве my_list. Сделайте вывод.

In [ ]:
%%timeit
sum_list(my_list)

In [ ]:
%%timeit
np.sum(my_list)

**Вывод**: встроенные функции NumPy работают c list медленнее написанных

#### Задача 8

Подгрузите файл **iris.csv** с помощью встроенной функции **np.loadtxt**. Назовите его my_2d_array. Напиишите функцию, которая считает сумму элементов массива по столбцам.

In [ ]:
my_2d_array = np.loadtxt("files_1/iris.csv", dtype = ('float'), delimiter=',', usecols=(0,1,2,3), skiprows = 1)
type(my_2d_array), np.shape(my_2d_array)

(numpy.ndarray, (150, 4))

In [ ]:
!ls

In [ ]:
def sum_columns(array, column):
    return np.sum(my_2d_array[:,column])

sum_columns(my_2d_array, 2), np.sum(my_2d_array, axis=0)

(563.7, array([876.5, 458.6, 563.7, 179.9]))

#### Задача 9
* транспонируйте my_2d_array
* выполните матричное умножение my_2d_array на my_2d_array.T
* выполните матричное умножение my_2d_array.T на my_2d_array

In [ ]:
my_2d_array_T = np.transpose(my_2d_array)

In [ ]:
np.dot(my_2d_array, my_2d_array_T)

array([[40.26, 37.49, 37.03, ..., 51.33, 51.54, 48.09],
       [37.49, 35.01, 34.49, ..., 48.53, 48.6 , 45.41],
       [37.03, 34.49, 34.06, ..., 47.31, 47.5 , 44.32],
       ...,
       [51.33, 48.53, 47.31, ..., 82.29, 83.18, 77.47],
       [51.54, 48.6 , 47.5 , ..., 83.18, 84.45, 78.46],
       [48.09, 45.41, 44.32, ..., 77.47, 78.46, 73.06]])

In [ ]:
np.dot(my_2d_array_T, my_2d_array)

array([[5223.85, 2673.43, 3483.76, 1128.14],
       [2673.43, 1430.4 , 1674.3 ,  531.89],
       [3483.76, 1674.3 , 2582.71,  869.11],
       [1128.14,  531.89,  869.11,  302.33]])

#### Задача 10
Найдите в документации библиотеки numpy функцию, вычисляющую собственные числа матрицы.

Найдите собственные числа матриц (my_2d_array.T * my_2d_array) и (my_2d_array * my_2d_array.T) используя соответсующую функцию

In [ ]:
np.linalg.eig(np.dot(my_2d_array_T, my_2d_array))

(array([9.20830507e+03, 3.15454317e+02, 1.19780429e+01, 3.55257020e+00]),
 array([[ 0.75110816,  0.2841749 ,  0.50215472,  0.32081425],
        [ 0.38008617,  0.5467445 , -0.67524332, -0.31725607],
        [ 0.51300886, -0.70866455, -0.05916621, -0.48074507],
        [ 0.16790754, -0.34367081, -0.53701625,  0.75187165]]))

In [ ]:
np.linalg.eig(np.dot(my_2d_array, my_2d_array_T))

(array([ 9.20830507e+03+0.00000000e+00j,  3.15454317e+02+0.00000000e+00j,
         1.19780429e+01+0.00000000e+00j,  3.55257020e+00+0.00000000e+00j,
         8.20712565e-13+0.00000000e+00j, -4.33094080e-14+6.68123026e-13j,
        -4.33094080e-14-6.68123026e-13j, -6.42823339e-13+0.00000000e+00j,
        -2.07824941e-13+5.46853383e-13j, -2.07824941e-13-5.46853383e-13j,
        -4.87505161e-13+2.64151961e-13j, -4.87505161e-13-2.64151961e-13j,
         6.80722196e-14+5.32510787e-13j,  6.80722196e-14-5.32510787e-13j,
        -2.72814349e-13+4.60848097e-13j, -2.72814349e-13-4.60848097e-13j,
         5.17720768e-13+0.00000000e+00j,  2.78584495e-13+4.18362133e-13j,
         2.78584495e-13-4.18362133e-13j, -4.80969799e-13+0.00000000e+00j,
         2.89784951e-13+2.96687604e-13j,  2.89784951e-13-2.96687604e-13j,
         3.90383834e-13+1.24736332e-13j,  3.90383834e-13-1.24736332e-13j,
        -3.06006444e-14+3.48957061e-13j, -3.06006444e-14-3.48957061e-13j,
        -3.22444098e-13+7.59199236e-14j, -3.22444098e-13-7.59199236e-14j,
         3.31881219e-13+0.00000000e+00j, -2.03509871e-13+2.33387234e-13j,
        -2.03509871e-13-2.33387234e-13j,  1.50484597e-13+2.13041892e-13j,
         1.50484597e-13-2.13041892e-13j,  2.45166933e-13+0.00000000e+00j,
         8.42607792e-14+1.71719528e-13j,  8.42607792e-14-1.71719528e-13j,
        -5.61073427e-14+1.64036109e-13j, -5.61073427e-14-1.64036109e-13j,
        -1.71570622e-13+7.21104258e-14j, -1.71570622e-13-7.21104258e-14j,
        -1.75620037e-13+3.93618061e-14j, -1.75620037e-13-3.93618061e-14j,
         1.11541518e-13+1.35652968e-13j,  1.11541518e-13-1.35652968e-13j,
        -1.42352063e-13+8.01880348e-14j, -1.42352063e-13-8.01880348e-14j,
         1.88717459e-13+0.00000000e+00j,  1.78926798e-13+3.01240916e-14j,
         1.78926798e-13-3.01240916e-14j,  1.65764403e-13+4.96961103e-14j,
         1.65764403e-13-4.96961103e-14j, -1.63746059e-13+2.44063637e-14j,
        -1.63746059e-13-2.44063637e-14j, -1.01587207e-13+1.17878464e-13j,
        -1.01587207e-13-1.17878464e-13j,  5.55106034e-14+1.36963266e-13j,
         5.55106034e-14-1.36963266e-13j,  1.41137880e-13+6.17971833e-14j,
         1.41137880e-13-6.17971833e-14j, -1.16499733e-13+9.62783723e-14j,
        -1.16499733e-13-9.62783723e-14j, -1.50341176e-13+0.00000000e+00j,
        -5.89056811e-14+1.23820163e-13j, -5.89056811e-14-1.23820163e-13j,
         1.01829191e-13+8.91969254e-14j,  1.01829191e-13-8.91969254e-14j,
         1.48309865e-13+0.00000000e+00j, -5.07023569e-15+1.24880805e-13j,
        -5.07023569e-15-1.24880805e-13j,  1.32167412e-13+2.55465403e-14j,
         1.32167412e-13-2.55465403e-14j,  2.99611123e-14+1.16828780e-13j,
         2.99611123e-14-1.16828780e-13j, -8.80656196e-14+8.11336551e-14j,
        -8.80656196e-14-8.11336551e-14j, -1.28343657e-13+1.54607910e-15j,
        -1.28343657e-13-1.54607910e-15j, -6.04249992e-14+1.05453462e-13j,
        -6.04249992e-14-1.05453462e-13j,  1.11437416e-13+5.72863743e-14j,
         1.11437416e-13-5.72863743e-14j,  7.60794674e-14+9.25584249e-14j,
         7.60794674e-14-9.25584249e-14j, -4.27194806e-14+1.04279869e-13j,
        -4.27194806e-14-1.04279869e-13j, -1.13172736e-13+4.74209497e-14j,
        -1.13172736e-13-4.74209497e-14j,  7.21158857e-14+8.19557503e-14j,
         7.21158857e-14-8.19557503e-14j, -6.31621222e-14+8.28178601e-14j,
        -6.31621222e-14-8.28178601e-14j,  1.14841510e-13+9.60427185e-15j,
         1.14841510e-13-9.60427185e-15j,  5.09905384e-14+8.69679770e-14j,
         5.09905384e-14-8.69679770e-14j, -9.20815685e-14+4.36862628e-14j,
        -9.20815685e-14-4.36862628e-14j, -9.39148078e-14+3.57567146e-14j,
        -9.39148078e-14-3.57567146e-14j,  1.06838839e-14+9.02299847e-14j,
         1.06838839e-14-9.02299847e-14j,  8.44078170e-14+4.89805480e-14j,
         8.44078170e-14-4.89805480e-14j,  9.23480419e-14+3.04608769e-14j,
         9.23480419e-14-3.04608769e-14j, -9.44939636e-14+0.00000000e+00j,
         8.48521657e-14+0.00000000e+00j, -8.09347454e-14+1.92335487e-14j,
        -8.09347454e-14-1.92335487e-14j,  2.46457192e-14+7.26484280e-14j,
         2.46457192e-14-7.26484280e-14j, -3.89849852e-14+5.83745482e-14j,
        -3.89849852e-14-5.83745482e-14j,  3.36464262e-14+6.17488218e-14j,
         3.36464262e-14-6.17488218e-14j, -1.14669702e-14+6.59493954e-14j,
        -1.14669702e-14-6.59493954e-14j, -6.35176737e-14+3.42930933e-14j,
        -6.35176737e-14-3.42930933e-14j, -5.32534789e-14+3.82066540e-14j,
        -5.32534789e-14-3.82066540e-14j,  5.59198565e-14+3.45896034e-14j,
         5.59198565e-14-3.45896034e-14j,  4.25991910e-14+4.04496218e-14j,
         4.25991910e-14-4.04496218e-14j, -4.32357213e-14+3.10553391e-14j,
        -4.32357213e-14-3.10553391e-14j, -1.97808850e-14+4.09046287e-14j,
        -1.97808850e-14-4.09046287e-14j,  2.38052483e-15+4.34093251e-14j,
         2.38052483e-15-4.34093251e-14j,  3.16081682e-14+3.51098321e-14j,
         3.16081682e-14-3.51098321e-14j,  4.12408646e-14+2.55020468e-14j,
         4.12408646e-14-2.55020468e-14j,  4.49329685e-14+1.04310258e-14j,
         4.49329685e-14-1.04310258e-14j,  2.41835381e-15+2.64884085e-14j,
         2.41835381e-15-2.64884085e-14j, -3.10300834e-14+0.00000000e+00j,
        -3.06456445e-14+1.48392521e-14j, -3.06456445e-14-1.48392521e-14j,
         2.85928967e-14+1.02657013e-14j,  2.85928967e-14-1.02657013e-14j,
        -5.00620289e-14+1.49292468e-15j, -5.00620289e-14-1.49292468e-15j,
         1.39105863e-14+0.00000000e+00j, -1.24241966e-14+9.22292592e-15j,
        -1.24241966e-14-9.22292592e-15j, -1.77868906e-30+0.00000000e+00j]),
 array([[ 6.16168450e-02+0.00000000e+00j, -1.29611444e-01+0.00000000e+00j,
         -2.13859674e-03+0.00000000e+00j, ...,
         -8.34007428e-02-2.81442044e-02j, -8.34007428e-02+2.81442044e-02j,
          2.55739448e-16+0.00000000e+00j],
        [ 5.80709402e-02+0.00000000e+00j, -1.11019776e-01+0.00000000e+00j,
         -7.06723871e-02+0.00000000e+00j, ...,
         -1.36636879e-02+2.04638548e-05j, -1.36636879e-02-2.04638548e-05j,
          7.40728318e-17+0.00000000e+00j],
        [ 5.67630474e-02+0.00000000e+00j, -1.17966465e-01+0.00000000e+00j,
         -4.34254909e-03+0.00000000e+00j, ...,
         -2.71073342e-02+1.73025829e-02j, -2.71073342e-02-1.73025829e-02j,
         -2.10770657e-17+0.00000000e+00j],
        ...,
        [ 9.40593040e-02+0.00000000e+00j,  4.98296974e-02+0.00000000e+00j,
          4.14400144e-02+0.00000000e+00j, ...,
         -5.53653203e-02+5.07973311e-02j, -5.53653203e-02-5.07973311e-02j,
         -6.94480420e-17+0.00000000e+00j],
        [ 9.48896096e-02+0.00000000e+00j,  5.61012256e-02+0.00000000e+00j,
          2.12978214e-01+0.00000000e+00j, ...,
          3.17009678e-02+6.20992273e-02j,  3.17009678e-02-6.20992273e-02j,
         -4.93616464e-16+0.00000000e+00j],
        [ 8.84783560e-02+0.00000000e+00j,  5.15697045e-02+0.00000000e+00j,
          9.57528475e-02+0.00000000e+00j, ...,
          3.65404150e-02+2.15918914e-02j,  3.65404150e-02-2.15918914e-02j,
         -2.75587714e-17+0.00000000e+00j]]))

## 5.Numpy_Scipy

### Задача 1: Вычисления по цепочке

Напишите функцию, которая возвращает значение следующей математической функции в зависимости от переменной х, где x - одномерный вектор.

$f(x) = \frac{1}{2}x^2 arctg(x) + 5cos(2x) + e^{x} + \log{6x}$

Проверьте работу функции на заданном векторе

P.S. косинус, арктангенс и т.д. доступны в библиотеке numpy: np.arctan() ...

In [ ]:
import numpy as np
x = np.array([3, 5, 8])

In [ ]:
# Импорт констант
import math
b = 2
d = 6

In [ ]:
def f(x):
    A = (1 / 2) * x**2 * np.arctan(x)
    B = 5 * np.cos(2 * x)
    C = np.exp(x)
    D = np.log(6 * x)
    return A + B + C + D

f(x)

array([  33.39746609,  164.78650843, 3026.32701328])

### Задача 2: Вычисления по цепочке

Напишите функцию, которая вычисляет значение следующей математической функции в зависимости от переменной х, где х - вектор

$F(x) = \frac{3}{4}AA^Tx + Bx + c$

In [ ]:
np.random.seed(42)

A = np.random.randint(low=1, high=5, size=(3,3))
B = np.random.randint(low=1, high=5, size=(3,3))
c = np.random.randint(low=1, high=5, size=(3))

def F(x):
    A1 = (3 / 4) * np.dot(A, A.transpose())
    AX = A1 @ x
    BX = B @ x
    return AX + BX + c

print(F(x))

[261.25 350.75 213.  ]

### Задача 3:

Дана разреженная матрица, преобразуйте ее в csr формат, посчитайте долю разреженности, т.е. содержания нулей

In [ ]:
from scipy.sparse import csr_matrix


# фиксируем сид
np.random.seed(42)

A = np.eye(50)
A[5, :] = np.random.randint(low=0, high=2, size = (50))
A[31, :] = np.random.randint(low=0, high=2, size = (50))
A[:, 49] = np.random.randint(low=0, high=2, size = (50))

B = csr_matrix(A)
(a, b) = B.shape
c = np.count_nonzero(B.toarray())
(a * b - c) / (a * b)

0.9488

### Задача 4

Даны две разреженные матрицы, преобразуйте их в формат csr и посчитайте:

* сумму двух матриц
* матричное произведение двух матриц
* выведите на экран сумму и произведение, предварительно преобразовав их обратно в "плотный" формат (метод .todense)

In [ ]:
# фиксируем сид
np.random.seed(42)

A = np.eye(50)
A[2, :] = np.random.randint(low=0, high=2, size = (50))
A[37, :] = np.random.randint(low=0, high=2, size = (50))
A[:, 44] = np.random.randint(low=0, high=2, size = (50))

B = np.zeros((50,50))
B[2, :] = np.random.randint(low=0, high=2, size = (50))
B[37, :] = np.random.randint(low=0, high=2, size = (50))
B[:, 44] = np.random.randint(low=0, high=2, size = (50))

In [ ]:
A_csr = csr_matrix(A)
B_csr = csr_matrix(B)
AplusB_csr = A_csr + B_csr
AmultiB_csr = A_csr @ B_csr
print('Sum of A and B matrices\n', AplusB_csr.todense())
print('Multiplication of A and B matrices\n', AmultiB_csr.todense())

Sum of A and B matrices
 [[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 1. 1. 1.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]
Multiplication of A and B matrices
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

## 6. Pandas I

### Задача 1.1

Импортируйте библиотеку pandas и создайте pandas dataframe из кода ниже

In [ ]:
import pandas as pd

columns = ['Year', 'Movie name', 'Rating', 'Votes', 'Genre', 'Runtime', "Director"]

data = [['2015', 'Bajirao Mstani', '7.2','17362','Dramma','158','Sanjay Leela Bhamsali'],

        ['2014', 'Qeen', '8.4', '39518', 'Dramma', '146', 'Vikas Bahl'],

        ['2013', 'Bhaag Mikha Bhaag', '8.3', '39731', 'Dramma', '186', 'Rakeysh omprakash'],

        ['2012', 'Barfi!', '8.2', '52308', 'Familiy', '151', 'Anurag Basu']]

df = pd.DataFrame(data, columns = columns)
df

,Year,Movie name,Rating,Votes,Genre,Runtime,Director
0,2015,Bajirao Mstani,7.2,17362,Dramma,158,Sanjay Leela Bhamsali
1,2014,Qeen,8.4,39518,Dramma,146,Vikas Bahl
2,2013,Bhaag Mikha Bhaag,8.3,39731,Dramma,186,Rakeysh omprakash
3,2012,Barfi!,8.2,52308,Familiy,151,Anurag Basu

### Задача 1.2

Для таблички выше, найдите все фильмы в жанре "Drama"

In [ ]:
df.loc[df['Genre'] == 'Dramma']

,Year,Movie name,Rating,Votes,Genre,Runtime,Director
0,2015,Bajirao Mstani,7.2,17362,Dramma,158,Sanjay Leela Bhamsali
1,2014,Qeen,8.4,39518,Dramma,146,Vikas Bahl
2,2013,Bhaag Mikha Bhaag,8.3,39731,Dramma,186,Rakeysh omprakash

### Задача 1.3

Посчитайте средний рейтинг фильмов в жанре "Drama"

In [ ]:
df['Rating'] = df['Rating'].apply(pd.to_numeric)
df.loc[df['Genre'] == 'Dramma']['Rating'].mean()

object
float64

7.966666666666668

### Задача 1.4

Посчитайте средневзвешенный рейтинг всех фильмов в жанре "Drama". Взвешивать рейтинг будем на кол-во голосов (Votes).

P.S. конкретно нужно посчитать: $$\frac{\sum{Rating_i * Votes_i}}{\sum{Votes_i}}$$

Используем только встроенные методы библиотеки pandas

In [ ]:
df['Votes'] = df['Votes'].apply(pd.to_numeric)

a = df.loc[df['Genre'] == 'Dramma']['Rating']
b = df.loc[df['Genre'] == 'Dramma']['Votes']
c = a * b
sum_ratings = c.sum()
sum_votes = df.loc[df['Genre'] == 'Dramma']['Votes'].sum()
# weavra - weighted average rating
weavra = sum_ratings / sum_votes
weavra

8.143222821417853

### Задача 2

Используя соответствующую функцию библиотеки pandas, подгрузите датасет 'train.csv' из .csv файла. Выведите на экран первые 5 строчек файла (метод head)

In [ ]:
# Загрузка файла с Google drive
# Тест загрузки модуля  с Google drive
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

WARNING:root:pydrive is deprecated and no longer maintained. We recommend that you migrate your projects to pydrive2, the maintained fork of pydrive

In [ ]:
# Выводим список файлов в папке
file_list = drive.ListFile({'q': "'1n0DYn0O24cZljWKbGWz4KaIL7Fvzbp74' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: Untitled0.ipynb, id: 1_-lX0CpY7SJfejvvKDmb0ZL54opaRjuF
title: train_vector.csv, id: 17Ay3JHUd3Y8oGwhbsnjXDvg8Fg16UZ49
title: iris.csv, id: 1nVWoRU_OmrqSaxq449lB7ZZGhta0YedH
title: test.csv, id: 1h7lYeJQlWhmfGRyIszG5DWo2qA8g5Zri

In [ ]:
# Загружаем необходимые файлы
train_downloaded = drive.CreateFile({'id': '1h7lYeJQlWhmfGRyIszG5DWo2qA8g5Zri'})
train_downloaded.GetContentFile('test.csv')

In [ ]:
!ls

In [ ]:
import pandas as pd

df = pd.read_csv('test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### Задача 3

Для подгруженного датасета из предыдущей задачи:
* посчитайте сколько записей
* определите тип данных в каждом столбце
* проверьте, есть ли пропуски

P.S. используйте соответствующие встроенные методы

In [ ]:
len(df), df.shape, df.index.size, len(df.index), df.axes[0].size, len(df.axes[0])

(418, (418, 11), 418, 418, 418, 418)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### Задача 4

Используя соответствующий встроенный метод, выведите на экран описательные статистики для датасета из предыдущей задачи.

In [ ]:
df.describe(include = 'all')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,1100.500000,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,120.810458,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,892.000000,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,996.250000,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,1100.500000,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1204.750000,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,1309.000000,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

In [ ]:
df['Cabin'].unique()

array([nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116',
       'F', 'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22',
       'B10', 'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64',
       'A11', 'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89',
       'F E46', 'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78',
       'F E57', 'F2', 'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60',
       'E50', 'E39 E41', 'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7',
       'D40', 'D38', 'C105'], dtype=object)

In [ ]:
df.loc[df['Cabin'] == 'B57 B59 B63 B66']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.375,B57 B59 B63 B66,C
64,956,1,"Ryerson, Master. John Borie",male,13.0,2,2,PC 17608,262.375,B57 B59 B63 B66,C
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,PC 17608,262.375,B57 B59 B63 B66,C

##7.Pandas II

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250)
* Преобразуйте колонку Invoice Date в DateTime index
* Удалите колонку Invoice Date
* Сохраните получившуюся табличку в новую переменную data

In [ ]:
!ls

### Задача 2

Используя табличку, полученную в результате выполнения предыдущей задачи, выберите все заказы, совершенные за период 7 Декабря 2010 года с часа дня до часа и одной минуты.

### Задача 3

По той же рабочей табличке:
* посчитайте кол-во уникальных наименований товаров, которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод
* найдите все уникальные страны, в которых были размещены заказы

### Задача 4

Посчитайте матрицу корреляции Спирмена для наших данных

### Задача 5

Найдите 1%, 50% и 99% квантили цены за единицу товара

### Задача 6

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого:
* сделайте подвыборку, соответствующую условию "в понедельник", используйте метод datetime индекса weekday_name
* посчитайте кол-во уникальных ID клиентов

### Задача 7

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

##8.Matplotlib

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

### Задача 1

Постройте график экспоненты. Подпишите оси. Дайте название графику.

### Задача 2

Постройте график функции $\rho = 4 \sin(2\phi)$ в полярных координатах. Линия должна быть любого нестандартного цвета из доступных по ссылке ниже (на ваш вкус). Дайте название графику.

https://matplotlib.org/3.1.0/gallery/color/named_colors.html

### Задача 3

Постройте графики функций $y = x^3$ и $y = x^2$ на одном графике.

* Дайте название графику
* Дайте названия осям
* Присвойте лейблы и выведите легенду
* Графики функций должены быть отрисованы пунктирными линиями (любыми из доступных на ваш вкус)

### Задача 4

Выведите на экран картинку ascent, которая подгружается кодом ниже

In [ ]:
from scipy import misc
img = misc.ascent()

### Задача 5

Выведите на экран картинку выше в серых цветах (grayscale)

##9.Seaborn

### Задача 1

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Установите (любой на ваш вкус) общий стиль графиков на весь ноутбук используя функцию set_style

### Задача 2

Подгрузите данные datatraining.txt при помощи соответствующей функции библиотеки Pandas. Преобразуйте индекс в datetime index, удалите столбец с датой. Постройте график всех парных взаимосвязей с разметкой цвета в соответствии с метками классов (столбец Occupancy)

P.S. используйте функцию sns.pairplot c параметром hue

In [ ]:
!ls

### Задача 3

Постройте boxplot всех признаков.

P.S. график должен быть читаемым, т.е.
* отрегулируйте размер графика
* предварительно "отскейлите" все *числовые* признаки, т.е. приведите к стандартному нормальному распределению при помощи функции ниже (Occupancy скейлить не надо (!))

In [ ]:
def scale(df):
    return (df - df.mean()) / df.std()

### Задача 4

Постройте violinplot всех признаков

P.S. Предварительно приведите их к стандартному нормальному распределению как мы делали в предыдущей задаче

### Задача 5

Нарисуйте heatmap матрицы корреляций. Отрегулируйте масштаб, подберите подходящую палитру

##10.EDA - описательный анализ

### Задача 1

Для датасета Ирисы, который мы разбирали поэтапно на протяжении всего курса, сделайте описательный анализ данных (EDA - Exploratory Data Analysis) по шагам (по сути, вам нужно из всего курса собрать нужные куски кода, т.к. все это уже так или иначе было сделано для этого датасета):

* подгрузите данные
* посмотрите какого размера данные, сколько наблюдений, сколько признаков, сколько классов имеет целевая переменная
* проверьте данные на пропуски
* постройте графики попарных зависимостей между признаками и раскрасьте цветом данные по классам
* постройте боксплоты/violinplots для признаков
* постройте боксплоты/violinplots для признаков с разметкой по классам
* постройте любой график/графики, который по вашему мнению добавляет информации о существующих взаимосвязях в данных
* сделайте вывод

In [ ]:
# Ирисы живут в sklearn
import sklearn
from sklearn import datasets
# вытащите таргет и признаки из словаря ниже самостоятельно и сформируйте pd.DataFrame
# c красивыми и правильными именами столбцов
data = datasets.load_iris()

**Вывод:**

### Задача 2

Для датасета House Prices из последней лекции (train.csv) постройте такие графики взаимосвязей, которые посчитаете нужными, для того, чтобы добавить информации к тому, что мы уже сделали на лекции. Пара заданий уже есть в тексте лекции. Сделайте вывод.

**Описательная статистика**

Удаляем столбцы с большим количеством пропусков

Заполнить пропуски

Заполнить наны в столбце LotFrontage средними, или медианами, или квантилями по зонам MSZoning.

Добавить на график разметку по цветам в зависимости от разбивки целевой переменной на 4 или 5 квантилей. При этом, нарисуйте только топ 5 признаков по корреляции

**Разбить года на группы по периодам в зависимости от смысла. Сделайте это и нарисуйте график**

BOXPLOT по нескольким категориальным признакам

Вывод: